@{
    ViewData["Title"] = "Home Page";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h3><a href="@Url.Action("Index", "ClothesManage")">ClothesManage</a></h3>
    </div>
    <div class="panel-body">
        <h3><a href="@Url.Action("Index", "ImagesManage")">ImagesManage</a></h3>
    </div>
    <div class="panel-body">
        <h3><a href="@Url.Action("Index", "ClothSizesManage")">ClothSizesManage</a></h3>
    </div>
    <div class="panel-body">
        <h3><a href="@Url.Action("Index", "CategoriesManage")">CategoryManage</a></h3>
    </div>
</div>
